.services {
  .services-items {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    padding: 50px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq('md') {
      padding: 150px 0;
    }
  }
  .item {
    text-align: center;
    padding: 20px 40px;
    margin-bottom: 40px;
    border: 1px solid $main-color;

    &:last-child{
      margin-bottom: 0;
    }

    @include mq('md') {
      flex-basis: 25%;
      margin-bottom: 0;
      border: none;
      .ie & {
        flex-basis: calc(25% - 80px);
      }
    }
  }

  .logo {
    display: block;
    margin: 0 auto;
    min-height: 58px;
  }

  .name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0 15px;
    display: block;
    @include mq('md') {
      margin: 70px 0 30px;
    }
  }
}