header.header
  .container
    +link('#').logo
      +img(alt="logo" src="../images/Logo.png")
    .menu
      span.text Menu
      +img(alt="menu" src="../images/menu.png" data-modal data-target='.modal-menu').icon-menu