- imageTransparent = '/images/transparent.png'

include common/style
include common/link
include common/img
include common/nav
include common/btn
include common/heading

include components/recaptcha
include components/gmap
include components/banner
include components/services
include components/newsletter
include components/our-works
include components/clients
include components/our-team
include components/contact
include components/modal
include components/list-social
